@import url(reset.css);
@import url(variables.css);

body{
    background-color: var(--body-color);
    font-family: var(--font-body);
    padding: 0 10px;
    /* height: 100vh; */
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #4b4b4b;
    padding: 10px;
    padding-right: 15px;
    align-items: center;
    flex-wrap: wrap;
    
}

header h2{
    color: #007e00;
}

header ul{
    display: flex;
    gap: 1.4rem;
    list-style: none;
    
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
}

header #pesquisar{
    padding: 5px;
    width: 30%;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* garante que fiquem no topo */
    gap: 1rem;
}

main {
    width: 65%;
}

main h1{
    color: #00ff00;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #bdbdbd;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    

    
}

.cards{
    width: 30%;
    background-color: #6b6b6b;
    margin: 0.3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius);
    
    
}

.cards img{
    width: 100%;
    height: 50%; 
    border-radius: var(--border-radius);
    
}

.cards p{
    font-size: 1rem;
    
}

.cards h3{
    font-size: 1.5rem;
}

.cards span{
    font-size: 1.3rem;
    color: #00ff00;
    width: 50%;
}

.cards button{
    padding: 10px;
    background-color: greenyellow;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    width: 55%;
}


.aside-1{
    height: auto;
    gap: 5px;
    background-color: #ffffff;
    width: auto;
    margin: 10px;
    padding: 0.5rem;
}

.aside-1 a{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
   
}

.aside-1 img{
    width: 40%;
    border-radius: var(--border-radius);
}

.aside-1 p{
    font-size: 17px;
}

.aside-2 {
    width: 30%;
    position: static; /* agora você não precisa mais usar left */
    margin-top: 3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
}

.aside-2 img{
    width: 70%;

}

.aside-2 button{
    padding: 10px;
    background-color: greenyellow;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    width: 40%;
}

.aside-2 a{
    color: black;
    text-decoration: none;
}

.aside-2 p{
    font-size: 1rem;
}

/*Resposividade*/
@media (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        
    }

    header h2{
        width: auto;
    }

    header p{
        width: auto;
    }

    header ul{
        display: flex;
        gap: 0.5rem;
        width: auto;
        
    }

    .principal{
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    main{
        width: auto;
    }

    .container{
        justify-content: space-evenly;
        width: auto;
        gap: 0.5rem;
    }

    .cards span{
        width: auto;
        font-size: auto;
    }

    .cards button{
        font-size: auto;
        width: auto;
    }

    .aside-2{
        justify-content: left;
        display: flex;
        width: 100%;
    }

    .aside-2 img{
        width: 20%;
    }


}

@media (max-width: 411px) {
    
}

/*Página de login*/

.body-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container-login{
    width: 420px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container-login h1{
    font-size: 36px;
    text-align: center;
    color: #007e00;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #4b4b4b;
}

.input-box i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: green;
    margin-right: 5px;
}

.remember-forgot a{
    text-decoration: none;
    
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #bdbdbd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #4b4b4b;
    font-weight: 600;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover{
    background-color: #007e00;
    color: white;
    transition: 0.3s;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover{
    text-decoration: underline;
}