*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.navegacao{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;


}

.navegacao h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: auto;

}
.imgs{
    display: flex;
    gap: 1.2rem;
    height: 25px;


}


.pesquisar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 20%;
    background-color: #d6d6d6;
}

.geral{
    display: flex;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}


.principal{
    display: flex;
    gap: 30px;
    
    
}

.imagens img {
    height: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.container{
    display: flex;
    justify-content: left;
}
.container img{
    height: 200px;
    margin-right: 5rem;
   
}

@media (max-width: 768px) {

    .principal{
        flex-direction: column;
        align-items: center;
    }

    .container{
        justify-content: center;
    }

    .pesquisar{
        width: 100%;
        margin-top: 10px;
    }
}
